global:
  scrape_interval: 15s

scrape_configs:
  - job_name: "node"
    static_configs:
      - targets: ["127.0.0.1:9100"]

  - job_name: "app"
    metrics_path: "{{ app_metrics_path }}"
    static_configs:
      - targets: ["127.0.0.1:{{ app_port }}"]
